Terminal/TerminalCore/src/main/resources/process_return.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="process_return"
           targetNamespace="process_return"
           elementFormDefault="qualified">

    <xs:element name="ProcessReturn" type="tns:ProcessReturn"/>

    <xs:complexType name="ProcessReturn">
        <xs:sequence>
            <xs:element name="ReturnID" type="xs:long" minOccurs="0"/>
            <xs:element name="ProcessStatus" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
